<header>
  <h1 n:block="subtitle"><a n:href="Events:">eve</a></h1>
  <p>simple event manager</p>
  <p class="view"><a href="http://github.com/tomasvitek/eve">View the Project on GitHub <small>tomasvitek/eve</small></a></p>
  <ul>
    <li><a n:href="Events:"><strong>Upcoming</strong> events</a></li>
    <li><a n:href="Events:past"><strong>Past</strong> events</a></li>
    <li><a n:href="Events:iCal"><strong>Subscribe</strong> iCal feed</a></li>
  </ul>
</header>
