/**
 * Custom styles for eve app
 */

.content h1 {
	margin-bottom: 30px;
}

hr.divider {
	margin-top: 20px;
	margin-bottom: 20px;
}

.event {
  padding-left: 20px;
  margin-bottom: 10px;
  border-left: 1px solid #eeeeee;
}

.event p {
  padding-left: 10px;
}

/* flash messages */

div.flash {
	color: black;
	background: #FFFFDD;
	border: 1px solid #FFD700;
	padding: 1em;
	margin: 1em 0;
}

/* forms */

form input.default {
	font-weight: bold;
	font-size: 105%;
}

form table {
	width: 100%;
	margin: 30px auto;
}

form table th,
form table td {
	border-bottom: 0;
}

form table th {
	width: 25%;
}

input.text,
input.datetime-local,
input[type="url"],
textarea {
	width: 100%;
}

textarea {
	border: 1px solid lightgray;
	height: 150px;
}

label.required:after {
	content: " *";
	color: red;
}


/* login form */

#frm-signInForm {
	border: 1px solid lightgray;
	padding-top: 20px;
	padding-bottom: 20px;
}

#frm-signInForm table th {
	width: 30%;
}

#frm-signInForm table {
	width: 80%;
}

/**
 * KCL DAI Group seminars page
 */

 header ul {
 	margin-top: 30px;
 	margin-bottom: 20px;
 }

 header h1 {
 	font-size: 23px;

 }
